<div class="container">
    {{#if messages.success}}
    <div class="text-success">
        {{#each messages.success}}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{msg}}</strong>
        </div>
        {{/each}}
    </div>
    {{/if}} {{#if messages.error}}
    <div class="text-danger">
        {{#each messages.error}}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{msg}}</strong>
        </div>
        {{/each}}
    </div>
    {{/if}} {{#if messages.info}}
    <div class="text-info">
        {{#each messages.info}}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{msg}}</strong>
        </div>
        {{/each}}
    </div>
    {{/if}}
    <div class="row">
        <div class="col-sm-12">
            <h3>Itenirary</h3>
            {{#each data.det}}
            <table class="table table-responsive">
                <tr>
                    <td>From</td>
                    <td>{{dep}}</td>
                </tr>
                <tr>
                    <td>To</td>
                    <td>{{arr}}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{dateFormat date "YYYY-MM-DD"}}</td>
                </tr>
                <tr>
                    <td>Flight No</td>
                    <td>{{id}}</td>
                </tr>
                <tr>
                    <td>Passengers</td>
                    <td>{{pax}}</td>
                </tr>
            </table>
            <div class="alert alert-warning">
                {{booked}} people booked in this flight. Total capacity {{cap}} seats!
            </div>
            {{/each}}

        </div>
    </div>
</div>