<div class="container">
	{{#if messages.success}}
	<div class="text-success">
		{{#each messages.success}}
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>{{msg}}</strong>
		</div>
		{{/each}}
	</div>
	{{/if}} {{#if messages.error}}
	<div class="text-danger">
		{{#each messages.error}}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>{{msg}}</strong>
		</div>
		{{/each}}
	</div>
	{{/if}} {{#if messages.info}}
	<div class="text-info">
		{{#each messages.info}}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>{{msg}}</strong>
		</div>
		{{/each}}
	</div>
	{{/if}}
	<div class="row">
		<div class="col-sm-12">
			<h3>First Travel</h3>
			<table class="table table-responsive">
				<tr>
					<td>From</td>
					<td>To</td>
					<td>Date</td>
					<td>Booked</td>
					<td></td>
				</tr>
				{{#each data.rowsXtoY }}
				<tr>
					<td>{{from}}</td>
					<td>{{to}}</td>
					<td>{{dateFormat date "YYYY-MM-DD"}}</td>
					<td>{{booked}}</td>
					<td>
						<form action="/book" method="POST" id="firstBookForm">
							<input type="hidden" name="id" value="{{id}}" />
							<input type="hidden" name="pax" value="{{../data.PAX}}" />
							<input type="submit" class="btn btn-success" id="book-first" value="Book Flight" />
						</form>
					</td>
				</tr>
				{{/each}}
			</table>

			<div class="alert alert-success invisible" id="statusFirst">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Reservation confirmed!</strong> 
				<a id="firstItnID" href="/travel-details/">Click here to display the itenarary</a>
			</div>

		</div>
		{{#if data.rowsYtoX}}
		<div class="col-sm-12">
			<h3>Return Travel</h3>
			<table class="table table-responsive">
				<tr>
					<td>From</td>
					<td>To</td>
					<td>Date</td>
					<td>Booked</td>
					<td></td>
				</tr>
				{{#each data.rowsYtoX }}
				<tr>
					<td>{{from}}</td>
					<td>{{to}}</td>
					<td>{{dateFormat date "YYYY-MM-DD"}}</td>
					<td>{{booked}}</td>
					<td>
						<form action="/book" method="POST" id="returnBookForm">
							<input type="hidden" name="id" value="{{id}}" />
							<input type="hidden" name="pax" value="{{../data.PAX}}" />
							<input type="submit" class="btn btn-danger" id="book-return" value="Book Flight" />
						</form>
					</td>
				</tr>
				{{/each}}
			</table>
			<div class="alert alert-success invisible" id="statusReturn">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Reservation confirmed!</strong> 
				<a id="returnItnID" href="/travel-details/">Click here to display the itenarary</a>
			</div>
		</div>
		{{/if}}
	</div>
</div>